@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.Header-Font {
  font: Inter;
  font-size: 36px;
  color: rgb(230, 83, 60);
  font-style: italic;
  padding-left: 100px;
}
.primary-color {
  background-color: rgb(17, 17, 17);
  max-width: 1440px;
  max-height: 2811px;
  margin: auto;
  color: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.icons {
  text-decoration: none;
  display: flex;
  width: 474px;
  height: 45px;
  list-style: none;
}
.items {
  display: flex;
  margin-right: 30px;
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  .btn {
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    border: rgb(230, 83, 60);
    font-size: 18px;
    color: #ffffff;
  }
}
.Heading-size {
  width: 520px;
  height: 439;
}
.heading {
  width: 520px;
  height: 282px;
  top: 0px;
  left: 0px;
  color: #ffffff;
  font: Inter;
  font-size: 78px;
  font-weight: bolder;
  padding-left: 100px;
}
.shape-font {
  font-style: italic;
  font-weight: lighter;
}
.paragraph {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 100px;
  width: 520px;
  height: 48px;
}
.heading-button {
  padding-left: 100px;
  .btn-clr {
    background-color: rgb(230, 83, 60);
    width: 114px;
    height: 34px;
    border-radius: 80px;
    border: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  .btn-clr-2 {
    background-color: rgb(17, 17, 17);
    width: 114px;
    height: 34px;
    border-radius: 80px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
}
.Picture {
  display: flex;
}
.banner-child {
  width: 349px;
  height: 580px;
}
.picture-2 {
  padding-left: 400px;
}
.btn-3 {
  background-color: rgba(0, 0, 0, 0.567);
  color: white;
  width: 206px;
  height: 96px;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  top: 70%;
  right: 30%;
  border-radius: 5px;
  text-align: center;
}
.btn-4 {
  background-color: rgba(0, 0, 0, 0.567);
  color: white;
  width: 206px;
  height: 96px;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  top: 30%;
  right: 10%;
  border-radius: 5px;
  text-align: center;
}
.sc-2 {
  align-items: center;
}
.Heading-2 {
  font: Inter;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.para-2 {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.Heading-3 {
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.main-style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  text-align: center;
  margin-top: 10;
  font-size: 14px;
  margin: 50px auto;
}
img {
  border-radius: 50%;
}
.pic {
  width: 230px;
  height: 274px;
}
.Division-3 {
  display: flex;
  width: 1060px;
  justify-content: center;
  height: 371px;
  background-color: rgb(34, 34, 34);
  align-items: center;
  padding: 40px;
  margin: 0 auto;
}
.Div-4 {
  width: 343px;
  height: 289px;
  text-align: center;
}
.imag {
  width: 366px;
  height: 312px;
}
.imag img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.Heading-4 {
  max-width: 443px;
  font: Inter;
  font-weight: 900;
  font-size: 48px;
  color: rgb(255, 255, 255);
}
.para-3 {
  max-width: 443px;
  font: Inter;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.btn-clr {
  background-color: rgb(230, 83, 60);
  width: 114px;
  height: 34px;
  border-radius: 80px;
  border: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.imag {
  width: 366px;
  height: 312px;
  top: 30px;
  left: 662px;
}
.secondary-color {
  background-color: rgb(17, 17, 17);
  max-width: 1440px;
  max-height: 2811px;
  margin: 0px auto;
  color: 100%;
  align-items: center;
  justify-content: center;
}
.para-4 {
  font-weight: 400;
  width: 671px;
  height: 48px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  display: inline;
  padding-left: 37%;
}
.Heading-5 {
  font: Inter;
  font-weight: 900;
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.HP {
  width: 671px;
  height: 119px;
  text-align: center;
  justify-items: center;
  display: inline;
  gap: 1px;
}
.HP-2 {
  width: 1437px;
  height: 487px;
  top: 876px;
  background-color: rgb(34, 34, 34);
  margin: 50px auto;
}
.bmi-calculator-container .bmi-calculator .display-flex {
  display: flex;
}
.bmi-calculator-container {
}
.bmi-calculator {
  max-width: 1060px;
  margin: 0 auto;
}
.bmi-calculator-container {
  background-color: rgba(34, 34, 34, 1);
}
.table-colum1 {
  width: 577px;
  height: 386px;
  margin-top: 17px;
  padding-bottom: 59px;
  margin-left: 180px;
}
.bmi-calculator-container .bmi-calculator .display-flex .table-column2 table th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.table-colum2 {
  width: 364px;
  height: 268px;
  padding-top: 20px;
}
.table-title {
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 900; 
  color: rgba(255, 255, 255, 1);
}
.bmi-head {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
.table-row {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.table-description {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.display-block {
  max-width: 282px;
  max-height: 3rem;
  margin: 12px 12px 12px 0px;
  border-color: none;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
}
#select {
  max-width: 88%;
  max-height: 48px;
  display: inline;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin: 12px 12px 12px 0px;
  border-color: none;
  padding: 12px 40px 12px 20px;
}
.Heading-6{
  Width:364px;
  Height:57px;
  font-weight: 900;
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.para-6{
  Width:671px;
  Height:48px;
  Font:Inter;
  Font-weight:400;
  Font-size:14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.last{
  Width:671px;
  Height:119px;
 justify-content: center;
}
.last-font{
  color: white;
  text-align: center;
  align-items: center;
 
}
.last-font-2{
  font-size: 40px;
  font-weight: bold;

}
.last-font-3{
  font-size: 14px;
  color:rgba(255, 255, 255, 0.5) ;
}
.imagesss{
  height: 604;
  width: 1060px;
  background-color: rgba(255, 255, 255, 0.1);
}
.last-font-4{
  display: grid;
  Width:1060px;

  grid-template-columns: repeat(3,1fr);
  gap: 12px;
  margin: 0 auto;

 
  background-color: rgb(255,255,255,0.1);
  border: 1px solid white;
  border-radius: 15px;
  
  
}
  
.omega{ 
   
  
  grid-column: 1 span;
  border-radius: 15px; 
 
   }
  .omega img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

  }
